h1{
  font-family: 'Caveat', cursive;
  text-align: center;
}


.art{
  margin: auto;
}


td{
  height: 200px;
  padding: 100px;
  border: 6px solid white;
}


#one{
  background-color: #264653;
}

#two{
  background-color: #2A9D8F;
}

#three{
  background-color: #E9C46A;
}

#four{
  background-color: #F4A261;
}

#five{
  background-color: #E76F51;
}
